@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #bfbfbf,
    #9a9a9a,
    #434343
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Component's Styles */
/* If the project has many pages, component's style will be created separately on the related folder */

/* Banner Styles */
.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.newspaper-bg {
  background-image: url('/newspaper-bg.jpg');
}

/* Floating Action Button Styles */
.scroll-to-top {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top.visible {
  opacity: 1;
}
